/*
 * -------------------------------------------------
 *  Nextflow config file for running on AWS batch
 * -------------------------------------------------
 * Base config needed for running with -profile awsbatch
 */
params {
  config_profile_name = 'AWSBATCH'
  config_profile_description = 'AWSBATCH Cloud Profile'
}

aws.region = params.awsregion
process.executor = 'awsbatch'
process.queue = params.awsqueue
aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
params.tracedir = './'
