/*
 * ---------------------------------------------------
 *  Nextflow config file for genome paths and setteings
 * ---------------------------------------------------
 */

params {
    genomes {
        "Homo_sapiens[GRCh38]" {
            star = "${params.aladdin_genomes_path}/Homo_sapiens/Ensembl/GRCh38/Sequence/STARIndex/"
            fasta = "${params.aladdin_genomes_path}/Homo_sapiens/Ensembl/GRCh38/Sequence/WholeGenomeFasta/genome.fa"
            transcripts = "${params.aladdin_genomes_path}/Homo_sapiens/Ensembl/GRCh38/Sequence/TranscriptsFasta/transcripts.fa"
            gtf = "${params.aladdin_genomes_path}/Homo_sapiens/Ensembl/GRCh38/Annotation/Genes/genes.gtf"
            bed12 = "${params.aladdin_genomes_path}/Homo_sapiens/Ensembl/GRCh38/Annotation/Genes/genes.bed"
            gprofiler = "hsapiens"
            ensembl_web = "www.ensembl.org"
            rRNA_gtf = "${baseDir}/assets/rRNA_gtf/GRCh38.gtf"
        }
        "Mus_musculus[GRCm39]" {
            star = "${params.aladdin_genomes_path}/Mus_musculus/Ensembl/GRCm39/Sequence/STARIndex/"
            fasta = "${params.aladdin_genomes_path}/Mus_musculus/Ensembl/GRCm39/Sequence/WholeGenomeFasta/genome.fa"
            transcripts = "${params.aladdin_genomes_path}/Mus_musculus/Ensembl/GRCm39/Sequence/TranscriptsFasta/transcripts.fa"
            gtf = "${params.aladdin_genomes_path}/Mus_musculus/Ensembl/GRCm39/Annotation/Genes/genes.gtf"
            bed12 = "${params.aladdin_genomes_path}/Mus_musculus/Ensembl/GRCm39/Annotation/Genes/genes.bed"
            gprofiler = "mmusculus"
            ensembl_web = "www.ensembl.org"
            rRNA_gtf = "${baseDir}/assets/rRNA_gtf/GRCm39.gtf"
        }
        "Mus_musculus[GRCm38]" {
            bed12 = "${params.igenomes_path}/Mus_musculus/Ensembl/GRCm38/Annotation/Genes/genes.bed"
            fasta = "${params.igenomes_path}/Mus_musculus/Ensembl/GRCm38/Sequence/WholeGenomeFasta/genome.fa"
            gtf = "${params.igenomes_path}/Mus_musculus/Ensembl/GRCm38/Annotation/Genes/genes.gtf"
            star = "${params.igenomes_path}/Mus_musculus/Ensembl/GRCm38/Sequence/STARIndex/"
            gprofiler = "mmusculus"
            ensembl_web = "www.ensembl.org"
            rRNA_gtf = "${baseDir}/assets/rRNA_gtf/GRCm38.gtf"
        }
        "Rattus_norvegicus[mRatBN7.2]" {
            bed12 = "${params.aladdin_genomes_path}/Rattus_norvegicus/Ensembl/mRatBN7.2/Annotation/Genes/genes.bed"
            fasta = "${params.aladdin_genomes_path}/Rattus_norvegicus/Ensembl/mRatBN7.2/Sequence/WholeGenomeFasta/genome.fa"
            gtf = "${params.aladdin_genomes_path}/Rattus_norvegicus/Ensembl/mRatBN7.2/Annotation/Genes/genes.gtf"
            star = "${params.aladdin_genomes_path}/Rattus_norvegicus/Ensembl/mRatBN7.2/Sequence/STARIndex/"
            gprofiler = "rnorvegicus"
            ensembl_web = "www.ensembl.org"
            rRNA_gtf = "${baseDir}/assets/rRNA_gtf/mRatBN7.2.gtf"
        }
        "Rattus_norvegicus[Rnor_6.0]" {
            bed12 = "${params.igenomes_path}/Rattus_norvegicus/Ensembl/Rnor_6.0/Annotation/Genes/genes.bed"
            gtf = "${params.igenomes_path}/Rattus_norvegicus/Ensembl/Rnor_6.0/Annotation/Genes/genes.gtf"
            star = "${params.igenomes_path}/Rattus_norvegicus/Ensembl/Rnor_6.0/Sequence/STARIndex/"
            fasta = "${params.igenomes_path}/Rattus_norvegicus/Ensembl/Rnor_6.0/Sequence/WholeGenomeFasta/genome.fa"
            gprofiler = "rnorvegicus"
            ensembl_web = "www.ensembl.org"
            rRNA_gtf = "${baseDir}/assets/rRNA_gtf/Rnor_6.0.gtf"
        }
        "Bos_taurus[ARS-UCD1.2]" {
            bed12 = "${params.aladdin_genomes_path}/Bos_Taurus/Ensembl/ARS-UCD1.2/Annotation/Genes/genes.bed"
            gtf = "${params.aladdin_genomes_path}/Bos_Taurus/Ensembl/ARS-UCD1.2/Annotation/Genes/genes.gtf"
            star = "${params.aladdin_genomes_path}/Bos_Taurus/Ensembl/ARS-UCD1.2/Sequence/STARIndex/"
            fasta = "${params.aladdin_genomes_path}/Bos_Taurus/Ensembl/ARS-UCD1.2/Sequence/WholeGenomeFasta/genome.fa"
            gprofiler = "btaurus"
            ensembl_web = "www.ensembl.org"
            rRNA_gtf = "${baseDir}/assets/rRNA_gtf/ARS-UCD1.2.gtf"
        }
        "Gallus_gallus[GRCg6a]" {
            bed12 = "${params.aladdin_genomes_path}/Gallus_gallus/Ensembl/GRCg6a/Annotation/Genes/genes.bed"
            gtf = "${params.aladdin_genomes_path}/Gallus_gallus/Ensembl/GRCg6a/Annotation/Genes/genes.gtf"
            star = "${params.aladdin_genomes_path}/Gallus_gallus/Ensembl/GRCg6a/Sequence/STARIndex/"
            fasta = "${params.aladdin_genomes_path}/Gallus_gallus/Ensembl/GRCg6a/Sequence/WholeGenomeFasta/genome.fa"
            gprofiler = "ggallus"
            ensembl_web = "www.ensembl.org"
            rRNA_gtf = "${baseDir}/assets/rRNA_gtf/GRCg6a.gtf"
        }
        "Drosophila_melanogaster[BDGP6.32]" {
            bed12 = "${params.aladdin_genomes_path}/Drosophila_melanogaster/Ensembl/BDGP6.32/Annotation/Genes/genes.bed"
            gtf = "${params.aladdin_genomes_path}/Drosophila_melanogaster/Ensembl/BDGP6.32/Annotation/Genes/genes.gtf"
            star = "${params.aladdin_genomes_path}/Drosophila_melanogaster/Ensembl/BDGP6.32/Sequence/STARIndex/"
            fasta = "${params.aladdin_genomes_path}/Drosophila_melanogaster/Ensembl/BDGP6.32/Sequence/WholeGenomeFasta/genome.fa"
            gprofiler = "dmelanogaster"
            ensembl_web = "www.ensembl.org"
            rRNA_gtf = "${baseDir}/assets/rRNA_gtf/BDGP6.gtf"
        }
        "Danio_rerio[GRCz11]" {
            bed12 = "${params.aladdin_genomes_path}/Danio_rerio/Ensembl/GRCz11/Annotation/Genes/genes.bed"
            gtf = "${params.aladdin_genomes_path}/Danio_rerio/Ensembl/GRCz11/Annotation/Genes/genes.gtf"
            star = "${params.aladdin_genomes_path}/Danio_rerio/Ensembl/GRCz11/Sequence/STARIndex/"
            fasta = "${params.aladdin_genomes_path}/Danio_rerio/Ensembl/GRCz11/Sequence/WholeGenomeFasta/genome.fa"
            gprofiler = "drerio"
            ensembl_web = "www.ensembl.org"
            rRNA_gtf = "${baseDir}/assets/rRNA_gtf/GRCz11.gtf"
        }
        "Saccharomyces_cerevisiae[R64-1-1]" {
            bed12 = "${params.igenomes_path}/Saccharomyces_cerevisiae/Ensembl/R64-1-1/Annotation/Genes/genes.bed"
            gtf = "${params.igenomes_path}/Saccharomyces_cerevisiae/Ensembl/R64-1-1/Annotation/Genes/genes.gtf"
            star = "${params.igenomes_path}/Saccharomyces_cerevisiae/Ensembl/R64-1-1/Sequence/STARIndex/"
            fasta = "${params.igenomes_path}/Saccharomyces_cerevisiae/Ensembl/R64-1-1/Sequence/WholeGenomeFasta/genome.fa"
            gprofiler = "scerevisiae"
            ensembl_web = "www.ensembl.org"
        }
        "Solanum_lycopersicum[SL3.0]" {
            bed12 = "${params.aladdin_genomes_path}/Solanum_lycopersicum/Ensembl/SL3.0/Annotation/Genes/genes.bed"
            gtf = "${params.aladdin_genomes_path}/Solanum_lycopersicum/Ensembl/SL3.0/Annotation/Genes/genes.gtf"
            star = "${params.aladdin_genomes_path}/Solanum_lycopersicum/Ensembl/SL3.0/Sequence/STARIndex/"
            fasta = "${params.aladdin_genomes_path}/Solanum_lycopersicum/Ensembl/SL3.0/Sequence/WholeGenomeFASTA/genome.fa"
            gprofiler = "slycopersicum"
            ensembl_web = "plants.ensembl.org"
        }
        "Zea_mays[B73_RefGen_v4]" {
            bed12 = "${params.aladdin_genomes_path}/Zea_mays/Ensembl/B73_RefGen_v4/Annotation/Genes/genes.bed"
            gtf = "${params.aladdin_genomes_path}/Zea_mays/Ensembl/B73_RefGen_v4/Annotation/Genes/genes.gtf"
            star = "${params.aladdin_genomes_path}/Zea_mays/Ensembl/B73_RefGen_v4/Sequence/STARIndex/"
            fasta = "${params.aladdin_genomes_path}/Zea_mays/Ensembl/B73_RefGen_V4/Sequence/WholeGenomeFasta/genome.fa"
            gprofiler = "zmays"
            ensembl_web = "plants.ensembl.org"
        }
        "Chlamydomonas_reinhardtii[v5.5]" {
            bed12 = "${params.aladdin_genomes_path}/Chlamydomonas_reinhardtii/Ensembl/v5.5/Annotation/Genes/genes.bed"
            gtf = "${params.aladdin_genomes_path}/Chlamydomonas_reinhardtii/Ensembl/v5.5/Annotation/Genes/genes.gtf"
            star = "${params.aladdin_genomes_path}/Chlamydomonas_reinhardtii/Ensembl/v5.5/Sequence/STARIndex/"
            fasta = "${params.aladdin_genomes_path}/Chlamydomonas_reinhardtii/Ensembl/v5.5/Sequence/WholeGenomeFasta/genome.fa"
            gprofiler = "creinhardtii"
            ensembl_web = "plants.ensembl.org"
        }
        "Arabidopsis_thaliana[TAIR10]" {
            bed12 = "${params.igenomes_path}/Arabidopsis_thaliana/Ensembl/TAIR10/Annotation/Genes/genes.bed"
            gtf = "${params.igenomes_path}/Arabidopsis_thaliana/Ensembl/TAIR10/Annotation/Genes/genes.gtf"
            star = "${params.igenomes_path}/Arabidopsis_thaliana/Ensembl/TAIR10/Sequence/STARIndex/"
            fasta = "${params.igenomes_path}/Arabidopsis_thaliana/Ensembl/TAIR10/Sequence/WholeGenomeFasta/genome.fa"
            gprofiler = "athaliana"
            ensembl_web = "plants.ensembl.org"
        }
        "Candida_albicans_SC5314[ASM18296v3]" {
            bed12 = "${params.aladdin_genomes_path}/C_albicans/RefSeq/GCF_000182965.3_ASM18296v3/Annotation/Genes/genes.bed"
            gtf = "${params.aladdin_genomes_path}/C_albicans/RefSeq/GCF_000182965.3_ASM18296v3/Annotation/Genes/genes_withbiotype.gtf"
            star = "${params.aladdin_genomes_path}/C_albicans/RefSeq/GCF_000182965.3_ASM18296v3/Sequence/STARIndex/"
            fasta = "${params.aladdin_genomes_path}/C_albicans/RefSeq/GCF_000182965.3_ASM18296v3/Sequence/WholeGenomeFasta/genome.fna"
        }
        "ERCC92" {
            star = "${params.aladdin_genomes_path}/ERCC_spike-in/Thermofisher/ERCC92/Sequence/STARIndex/"
            fasta = "${params.aladdin_genomes_path}/ERCC_spike-in/Thermofisher/ERCC92/Sequence/WholeGenomeFasta/genome.fa"
            gtf = "${params.aladdin_genomes_path}/ERCC_spike-in/Thermofisher/ERCC92/Annotation/Genes/genes.gtf"
            bed12 = "${params.aladdin_genomes_path}/ERCC_spike-in/Thermofisher/ERCC92/Annotation/Genes/genes.bed"
            transcripts = "${params.aladdin_genomes_path}/ERCC_spike-in/Thermofisher/ERCC92/Sequence/TranscriptsFasta/transcripts.fa"
            bacteria = true
        }
        "Aedes_aegypti[AaegL5]" {
            star = "${params.aladdin_genomes_path}/Aedes_aegypti/Ensembl/AaegL5/Sequence/STARIndex/"
            fasta = "${params.aladdin_genomes_path}/Aedes_aegypti/Ensembl/AaegL5/Sequence/WholeGenomeFasta/genome.fa"
            gtf = "${params.aladdin_genomes_path}/Aedes_aegypti/Ensembl/AaegL5/Annotation/Genes/genes.gtf"
            bed12 = "${params.aladdin_genomes_path}/Aedes_aegypti/Ensembl/AaegL5/Annotation/Genes/genes.bed"
            gprofiler = "aalvpagwg"
            ensembl_web = "metazoa.ensembl.org"
        }
        "Aedes_albopictus[AaloF1]" {
            star = "${params.aladdin_genomes_path}/Aedes_albopictus/Ensembl/AaloF1/Sequence/STARIndex/"
            fasta = "${params.aladdin_genomes_path}/Aedes_albopictus/Ensembl/AaloF1/Sequence/WholeGenomeFasta/genome.fa"
            gtf = "${params.aladdin_genomes_path}/Aedes_albopictus/Ensembl/AaloF1/Annotation/Genes/genes.gtf"
            bed12 = "${params.aladdin_genomes_path}/Aedes_albopictus/Ensembl/AaloF1/Annotation/Genes/genes.bed"
            gprofiler = "aalbopictus"
            ensembl_web = "metazoa.ensembl.org"
        }
        "Culex_quinquefasciatus[CpipJ2]" {
            star = "${params.aladdin_genomes_path}/Culex_quinquefasciatus/Ensembl/CpipJ2/Sequence/STARIndex/"
            fasta = "${params.aladdin_genomes_path}/Culex_quinquefasciatus/Ensembl/CpipJ2/Sequence/WholeGenomeFasta/genome.fa"
            gtf = "${params.aladdin_genomes_path}/Culex_quinquefasciatus/Ensembl/CpipJ2/Annotation/Genes/genes.gtf"
            bed12 = "${params.aladdin_genomes_path}/Culex_quinquefasciatus/Ensembl/CpipJ2/Annotation/Genes/genes.bed"
            gprofiler = "cquinquefasciatus"
            ensembl_web = "metazoa.ensembl.org"
        }
        "Salmonella_enterica[ASM950v1]" {
            star = "${params.aladdin_genomes_path}/Salmonella_enterica_P125109/RefSeq/ASM950v1/Sequence/STARIndex/"
            fasta = "${params.aladdin_genomes_path}/Salmonella_enterica_P125109/RefSeq/ASM950v1/Sequence/WholeGenomeFasta/genome.fa"
            gtf = "${params.aladdin_genomes_path}/Salmonella_enterica_P125109/RefSeq/ASM950v1/Annotation/Genes/genes.gtf"
            bed12 = "${params.aladdin_genomes_path}/Salmonella_enterica_P125109/RefSeq/ASM950v1/Annotation/Genes/genes.bed"
            bacteria = true
        }
        "Xenopus_tropicalis[UCB_Xtro_10.0]" {
            star = "${params.aladdin_genomes_path}/Xenopus_tropicalis/RefSeq/UCB_Xtro_10.0/Sequence/STARIndex/"
            fasta = "${params.aladdin_genomes_path}/Xenopus_tropicalis/RefSeq/UCB_Xtro_10.0/Sequence/WholeGenomeFasta/genome.fa"
            gtf = "${params.aladdin_genomes_path}/Xenopus_tropicalis/RefSeq/UCB_Xtro_10.0/Annotation/Genes/genes.gtf"
            bed12 = "${params.aladdin_genomes_path}/Xenopus_tropicalis/RefSeq/UCB_Xtro_10.0/Annotation/Genes/genes.bed"
        }
        "Taeniopygia_guttata[bTaeGut1_v1.p]" {
            star = "${params.aladdin_genomes_path}/Taeniopygia_guttata/Ensembl/bTaeGut1_v1.p/Sequence/STARIndex/"
            fasta = "${params.aladdin_genomes_path}/Taeniopygia_guttata/Ensembl/bTaeGut1_v1.p/Sequence/WholeGenomeFasta/genome.fa"
            gtf = "${params.aladdin_genomes_path}/Taeniopygia_guttata/Ensembl/bTaeGut1_v1.p/Annotation/Genes/genes.gtf"
            bed12 = "${params.aladdin_genomes_path}/Taeniopygia_guttata/Ensembl/bTaeGut1_v1.p/Annotation/Genes/genes.bed"
            gprofiler = "tguttata"
            ensembl_web = "www.ensembl.org"
        }
        "Delftia_tsuruhatensis[BAA554]" {
            star = "${params.aladdin_genomes_path}/Delftia_tsuruhatensis/Custom/BAA554/Sequence/STARIndex/"
            fasta = "${params.aladdin_genomes_path}/Delftia_tsuruhatensis/Custom/BAA554/Sequence/WholeGenomeFasta/genome.fa"
            gtf = "${params.aladdin_genomes_path}/Delftia_tsuruhatensis/Custom/BAA554/Annotation/Genes/genes.gtf"
            bed12 = "${params.aladdin_genomes_path}/Delftia_tsuruhatensis/Custom/BAA554/Annotation/Genes/genes.bed"
            bacteria = true
        }
    }
}