/*
 * -------------------------------------------------
 *  Nextflow config file for iGenomes paths
 * -------------------------------------------------
 * Defines reference genomes, using iGenome paths
 * Can be used by any config that customises the base
 * path using $params.igenomes_base / --igenomes_base
 */

params {
  // illumina iGenomes reference file paths on UPPMAX
  genomes {
    'ERCC92' {
      bed12   = "${params.igenomes_zymo}/ERCC_spike-in/Thermofisher/ERCC92/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_zymo}/ERCC_spike-in/Thermofisher/ERCC92/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_zymo}/ERCC_spike-in/Thermofisher/ERCC92/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_zymo}/ERCC_spike-in/Thermofisher/ERCC92/Sequence/STARIndex/"
    }
    'GRCh38' {
      bed12   = "${params.igenomes_zymo}/Homo_sapiens/Ensembl/GRCh38/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_zymo}/Homo_sapiens/Ensembl/GRCh38/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_zymo}/Homo_sapiens/Ensembl/GRCh38/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_zymo}/Homo_sapiens/Ensembl/GRCh38/Sequence/STARIndex/"
      gprofiler = "hsapiens"
      ensembl_web = "www.ensembl.org"
      rRNA_gtf = "${baseDir}/assets/rRNA_gtf/GRCh38.gtf"
    }
    'GRCh37' {
      bed12   = "${params.igenomes_base}/Homo_sapiens/Ensembl/GRCh37/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_base}/Homo_sapiens/Ensembl/GRCh37/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_base}/Homo_sapiens/Ensembl/GRCh37/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_base}/Homo_sapiens/Ensembl/GRCh37/Sequence/STARIndex/"
      gprofiler = "hsapiens"
      ensembl_web = "www.ensembl.org"
      rRNA_gtf = "${baseDir}/assets/rRNA_gtf/GRCh37.gtf"
    }
    'GRCm38' {
      bed12   = "${params.igenomes_base}/Mus_musculus/Ensembl/GRCm38/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_base}/Mus_musculus/Ensembl/GRCm38/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_base}/Mus_musculus/Ensembl/GRCm38/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_base}/Mus_musculus/Ensembl/GRCm38/Sequence/STARIndex/"
      gprofiler = "mmusculus"
      ensembl_web = "www.ensembl.org"
      rRNA_gtf = "${baseDir}/assets/rRNA_gtf/GRCm38.gtf"
    }
    'TAIR10' {
      bed12   = "${params.igenomes_zymo}/Arabidopsis_thaliana/Ensembl/TAIR10/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_zymo}/Arabidopsis_thaliana/Ensembl/TAIR10/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_zymo}/Arabidopsis_thaliana/Ensembl/TAIR10/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_zymo}/Arabidopsis_thaliana/Ensembl/TAIR10/Sequence/STARIndex/"
      gprofiler = "athaliana"
      ensembl_web = "plants.ensembl.org"
    }
    'EB2' {
      bed12   = "${params.igenomes_base}/Bacillus_subtilis_168/Ensembl/EB2/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_base}/Bacillus_subtilis_168/Ensembl/EB2/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_base}/Bacillus_subtilis_168/Ensembl/EB2/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_base}/Bacillus_subtilis_168/Ensembl/EB2/Sequence/STARIndex/"
      ensembl_web = "bacteria.ensembl.org"
      bacteria = true
    }
    'ARS-UCD1.2' {
      bed12   = "${params.igenomes_zymo}/Bos_Taurus/Ensembl/ARS-UCD1.2/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_zymo}/Bos_Taurus/Ensembl/ARS-UCD1.2/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_zymo}/Bos_Taurus/Ensembl/ARS-UCD1.2/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_zymo}/Bos_Taurus/Ensembl/ARS-UCD1.2/Sequence/STARIndex/"
      gprofiler = "btaurus"
      ensembl_web = "www.ensembl.org"
      rRNA_gtf = "${baseDir}/assets/rRNA_gtf/ARS-UCD1.2.gtf"
    }
    'ASM18296v3' {
      bed12   = "${params.igenomes_zymo}/C_albicans/RefSeq/GCF_000182965.3_ASM18296v3/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_zymo}/C_albicans/RefSeq/GCF_000182965.3_ASM18296v3/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_zymo}/C_albicans/RefSeq/GCF_000182965.3_ASM18296v3/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_zymo}/C_albicans/RefSeq/GCF_000182965.3_ASM18296v3/Sequence/STARIndex/"
    }
    'WBcel235' {
      bed12   = "${params.igenomes_base}/Caenorhabditis_elegans/Ensembl/WBcel235/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_base}/Caenorhabditis_elegans/Ensembl/WBcel235/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_base}/Caenorhabditis_elegans/Ensembl/WBcel235/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_base}/Caenorhabditis_elegans/Ensembl/WBcel235/Sequence/STARIndex/"
      gprofiler = "celegans"
      ensembl_web = "www.ensembl.org"
    }
    'CanFam3.1' {
      bed12   = "${params.igenomes_base}/Canis_familiaris/Ensembl/CanFam3.1/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_base}/Canis_familiaris/Ensembl/CanFam3.1/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_base}/Canis_familiaris/Ensembl/CanFam3.1/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_base}/Canis_familiaris/Ensembl/CanFam3.1/Sequence/STARIndex/"
      gprofiler = "cfamiliaris"
      ensembl_web = "www.ensembl.org"
    }
    'GRCz11' {
      bed12   = "${params.igenomes_zymo}/Danio_rerio/Ensembl/GRCz11/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_zymo}/Danio_rerio/Ensembl/GRCz11/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_zymo}/Danio_rerio/Ensembl/GRCz11/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_zymo}/Danio_rerio/Ensembl/GRCz11/Sequence/STARIndex/"
      gprofiler = "drerio"
      ensembl_web = "www.ensembl.org"
      rRNA_gtf = "${baseDir}/assets/rRNA_gtf/GRCz11.gtf"
    }
    'BDGP6' {
      bed12   = "${params.igenomes_base}/Drosophila_melanogaster/Ensembl/BDGP6/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_base}/Drosophila_melanogaster/Ensembl/BDGP6/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_base}/Drosophila_melanogaster/Ensembl/BDGP6/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_base}/Drosophila_melanogaster/Ensembl/BDGP6/Sequence/STARIndex/"
      gprofiler = "dmelanogaster"
      ensembl_web = "www.ensembl.org"
    }
    'EquCab2' {
      bed12   = "${params.igenomes_base}/Equus_caballus/Ensembl/EquCab2/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_base}/Equus_caballus/Ensembl/EquCab2/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_base}/Equus_caballus/Ensembl/EquCab2/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_base}/Equus_caballus/Ensembl/EquCab2/Sequence/STARIndex/"
      gprofiler = "ecaballus"
      ensembl_web = "www.ensembl.org"
    }
    'EcoliK12AG100' {
      bed12   = "${params.igenomes_zymo}/Escherichia_coli_k12/Ensembl/EcoliK12AG100/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_zymo}/Escherichia_coli_k12/Ensembl/EcoliK12AG100/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_zymo}/Escherichia_coli_k12/Ensembl/EcoliK12AG100/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_zymo}/Escherichia_coli_k12/Ensembl/EcoliK12AG100/Sequence/STARIndex/"
      ensembl_web = "bacteria.ensembl.org"
      bacteria = true
    }
    'GRCg6a' {
      bed12   = "${params.igenomes_zymo}/Gallus_gallus/Ensembl/GRCg6a/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_zymo}/Gallus_gallus/Ensembl/GRCg6a/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_zymo}/Gallus_gallus/Ensembl/GRCg6a/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_zymo}/Gallus_gallus/Ensembl/GRCg6a/Sequence/STARIndex/"
      gprofiler = "ggallus"
      ensembl_web = "www.ensembl.org"
      rRNA_gtf = "${baseDir}/assets/rRNA_gtf/GRCg6a.gtf"
    }
    'Gm01' {
      bed12   = "${params.igenomes_base}/Glycine_max/Ensembl/Gm01/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_base}/Glycine_max/Ensembl/Gm01/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_base}/Glycine_max/Ensembl/Gm01/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_base}/Glycine_max/Ensembl/Gm01/Sequence/STARIndex/"
      gprofiler = "gmax"
      ensembl_web = "plants.ensembl.org"
    }
    'Mmul_1' {
      bed12   = "${params.igenomes_base}/Macaca_mulatta/Ensembl/Mmul_1/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_base}/Macaca_mulatta/Ensembl/Mmul_1/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_base}/Macaca_mulatta/Ensembl/Mmul_1/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_base}/Macaca_mulatta/Ensembl/Mmul_1/Sequence/STARIndex/"
      gprofiler = "mmulatta"
      ensembl_web = "www.ensembl.org"
    }
    'IRGSP-1.0' {
      bed12   = "${params.igenomes_base}/Oryza_sativa_japonica/Ensembl/IRGSP-1.0/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_base}/Oryza_sativa_japonica/Ensembl/IRGSP-1.0/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_base}/Oryza_sativa_japonica/Ensembl/IRGSP-1.0/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_base}/Oryza_sativa_japonica/Ensembl/IRGSP-1.0/Sequence/STARIndex/"
      gprofiler = "osativa"
      ensembl_web = "plants.ensembl.org"
    }
    'CHIMP2.1.4' {
      bed12   = "${params.igenomes_base}/Pan_troglodytes/Ensembl/CHIMP2.1.4/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_base}/Pan_troglodytes/Ensembl/CHIMP2.1.4/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_base}/Pan_troglodytes/Ensembl/CHIMP2.1.4/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_base}/Pan_troglodytes/Ensembl/CHIMP2.1.4/Sequence/STARIndex/"
      gprofiler = "ptroglodytes"
      ensembl_web = "www.ensembl.org"
    }
    'Rnor_6.0' {
      bed12   = "${params.igenomes_zymo}/Rattus_norvegicus/Ensembl/Rnor_6.0/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_zymo}/Rattus_norvegicus/Ensembl/Rnor_6.0/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_zymo}/Rattus_norvegicus/Ensembl/Rnor_6.0/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_zymo}/Rattus_norvegicus/Ensembl/Rnor_6.0/Sequence/STARIndex/"
      gprofiler = "rnorvegicus"
      ensembl_web = "www.ensembl.org"
      rRNA_gtf = "${baseDir}/assets/rRNA_gtf/Rnor_6.0.gtf"
    }
    'R64-1-1' {
      bed12   = "${params.igenomes_zymo}/S_cerevisiae/Ensembl/R64-1-1/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_zymo}/S_cerevisiae/Ensembl/R64-1-1/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_zymo}/S_cerevisiae/Ensembl/R64-1-1/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_zymo}/S_cerevisiae/Ensembl/R64-1-1/Sequence/STARIndex/"
      gprofiler = "scerevisiae"
      ensembl_web = "www.ensembl.org"
    }
    'EF2' {
      bed12   = "${params.igenomes_base}/Schizosaccharomyces_pombe/Ensembl/EF2/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_base}/Schizosaccharomyces_pombe/Ensembl/EF2/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_base}/Schizosaccharomyces_pombe/Ensembl/EF2/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_base}/Schizosaccharomyces_pombe/Ensembl/EF2/Sequence/STARIndex/"
      gprofiler = "spombe"
      ensembl_web = "fungi.ensembl.org"
    }
    'Sbi1' {
      bed12   = "${params.igenomes_base}/Sorghum_bicolor/Ensembl/Sbi1/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_base}/Sorghum_bicolor/Ensembl/Sbi1/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_base}/Sorghum_bicolor/Ensembl/Sbi1/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_base}/Sorghum_bicolor/Ensembl/Sbi1/Sequence/STARIndex/"
      gprofiler = "sbicolor"
      ensembl_web = "plants.ensembl.org"
    }
    'Sscrofa10.2' {
      bed12   = "${params.igenomes_base}/Sus_scrofa/Ensembl/Sscrofa10.2/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_base}/Sus_scrofa/Ensembl/Sscrofa10.2/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_base}/Sus_scrofa/Ensembl/Sscrofa10.2/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_base}/Sus_scrofa/Ensembl/Sscrofa10.2/Sequence/STARIndex/"
      gprofiler = "sscrofa"
      ensembl_web = "www.ensembl.org"
    }
    '12X' {
      bed12   = "${params.igenomes_zymo}/V_vinifera/Ensembl/12X/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_zymo}/V_vinifera/Ensembl/12X/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_zymo}/V_vinifera/Ensembl/12X/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_zymo}/V_vinifera/Ensembl/12X/Sequence/STARIndex/"
      gprofiler = "vvinifera"
      ensembl_web = "plants.ensembl.org"
    }
    'IWGSC' {
      bed12   = "${params.igenomes_zymo}/T_Aestivum/Ensembl/IWGSC/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_zymo}/T_Aestivum/Ensembl/IWGSC/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_zymo}/T_Aestivum/Ensembl/IWGSC/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_zymo}/T_Aestivum/Ensembl/IWGSC/Sequence/STARIndex/"
      gprofiler = "taestivum"
      ensembl_web = "plants.ensembl.org"
      csi_index = true
    }
    'B73_RefGen_v4' {
      bed12   = "${params.igenomes_zymo}/Zea_mays/Ensembl/B73_RefGen_v4/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_zymo}/Zea_mays/Ensembl/B73_RefGen_v4/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_zymo}/Zea_mays/Ensembl/B73_RefGen_v4/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_zymo}/Zea_mays/Ensembl/B73_RefGen_v4/Sequence/STARIndex/"
      gprofiler = "zmays"
      ensembl_web = "plants.ensembl.org"
    }
    'Glycine_max_v2.1' {
      bed12   = "${params.igenomes_zymo}/Glycine_max/Ensembl/Glycine_max_v2.1/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_zymo}/Glycine_max/Ensembl/Glycine_max_v2.1/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_zymo}/Glycine_max/Ensembl/Glycine_max_v2.1/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_zymo}/Glycine_max/Ensembl/Glycine_max_v2.1/Sequence/STARIndex/"
      gprofiler = "gmax"
      ensembl_web = "plants.ensembl.org"
    }
    'ASM98774v1' {
      bed12   = "${params.igenomes_zymo}/Gossypium_hirsutum/RefSeq/GCF_000987745.1_ASM98774v1/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_zymo}/Gossypium_hirsutum/RefSeq/GCF_000987745.1_ASM98774v1/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_zymo}/Gossypium_hirsutum/RefSeq/GCF_000987745.1_ASM98774v1/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_zymo}/Gossypium_hirsutum/RefSeq/GCF_000987745.1_ASM98774v1/Sequence/STARIndex/"
    }
    'ASM435514v1' {
      bed12   = "${params.igenomes_zymo}/Pseudomonas_aeruginosa_AES1R/RefSeq/ASM435514v1/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_zymo}/Pseudomonas_aeruginosa_AES1R/RefSeq/ASM435514v1/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_zymo}/Pseudomonas_aeruginosa_AES1R/RefSeq/ASM435514v1/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_zymo}/Pseudomonas_aeruginosa_AES1R/RefSeq/ASM435514v1/Sequence/STARIndex/"
      bacteria = true
    }
    'ASM200758v1' {
      bed12   = "${params.igenomes_zymo}/Burkholderia_cenocepacia_CR318/RefSeq/ASM200758v1/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_zymo}/Burkholderia_cenocepacia_CR318/RefSeq/ASM200758v1/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_zymo}/Burkholderia_cenocepacia_CR318/RefSeq/ASM200758v1/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_zymo}/Burkholderia_cenocepacia_CR318/RefSeq/ASM200758v1/Sequence/STARIndex/"
      bacteria = true
    }
    'ASM14998v1' {
      bed12   = "${params.igenomes_zymo}/P_tritici-repentis/Ensembl/ASM14998v1/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_zymo}/P_tritici-repentis/Ensembl/ASM14998v1/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_zymo}/P_tritici-repentis/Ensembl/ASM14998v1/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_zymo}/P_tritici-repentis/Ensembl/ASM14998v1/Sequence/STARIndex/"
      gprofiler = "ptriticirepentis"
      ensembl_web = "fungi.ensembl.org"
    }
    'ASM6918v1' {
      bed12   = "${params.igenomes_zymo}/Mycobacteroides_abscessus_ATCC19977/Ensembl/ASM6918v1/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_zymo}/Mycobacteroides_abscessus_ATCC19977/Ensembl/ASM6918v1/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_zymo}/Mycobacteroides_abscessus_ATCC19977/Ensembl/ASM6918v1/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_zymo}/Mycobacteroides_abscessus_ATCC19977/Ensembl/ASM6918v1/Sequence/STARIndex/"
      ensembl_web = "bacteria.ensembl.org"
      bacteria = true
    }
    'CUR_PTRM4_2.1' {
      bed12   = "${params.igenomes_zymo}/P_tritici-repentis/Genbank/CUR_PTRM4_2.1/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_zymo}/P_tritici-repentis/Genbank/CUR_PTRM4_2.1/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_zymo}/P_tritici-repentis/Genbank/CUR_PTRM4_2.1/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_zymo}/P_tritici-repentis/Genbank/CUR_PTRM4_2.1/Sequence/STARIndex/"
    }
    'CTC_F1880_1.0' {
      bed12   = "${params.igenomes_zymo}/Penicillium_rolfsii/Genbank/CTC_F1880_1.0/Annotation/Genes/genes.bed"
      fasta   = "${params.igenomes_zymo}/Penicillium_rolfsii/Genbank/CTC_F1880_1.0/Sequence/WholeGenomeFasta/genome.fa"
      gtf     = "${params.igenomes_zymo}/Penicillium_rolfsii/Genbank/CTC_F1880_1.0/Annotation/Genes/genes.gtf"
      star    = "${params.igenomes_zymo}/Penicillium_rolfsii/Genbank/CTC_F1880_1.0/Sequence/STARIndex/"
    }
  }
}
