/*
 * ---------------------------------------------------
 *  Nextflow config file for genome paths and setteings
 * ---------------------------------------------------
 */

params {
    genomes {
        "Homo_sapiens(GRCh38)" {
            star = "s3://aladdin-genomes/Homo_sapiens/Ensembl/GRCh38/Sequence/STARIndex/"
            gtf = "s3://aladdin-genomes/Homo_sapiens/Ensembl/GRCh38/Annotation/Genes/genes.gtf"
            bed12 = "s3://aladdin-genomes/Homo_sapiens/Ensembl/GRCh38/Annotation/Genes/genes.bed"
            gprofiler = "hsapiens"
            ensembl_web = "www.ensembl.org"
            rRNA_gtf = "${baseDir}/assets/rRNA_gtf/GRCh38.gtf"
        }
        "Mus_musculus(GRCm39)" {
            star = "s3://aladdin-genomes/Mus_musculus/Ensembl/GRCm39/Sequence/STARIndex/"
            gtf = "s3://aladdin-genomes/Mus_musculus/Ensembl/GRCm39/Annotation/Genes/genes.gtf"
            bed12 = "s3://aladdin-genomes/Mus_musculus/Ensembl/GRCm39/Annotation/Genes/genes.bed"
            gprofiler = "mmusculus"
            ensembl_web = "www.ensembl.org"
            rRNA_gtf = "${baseDir}/assets/rRNA_gtf/GRCm39.gtf"
        }
        "Mus_musculus(GRCm38)" {
            bed12 = "s3://ngi-igenomes/igenomes/Mus_musculus/Ensembl/GRCm38/Annotation/Genes/genes.bed"
            gtf = "s3://ngi-igenomes/igenomes/Mus_musculus/Ensembl/GRCm38/Annotation/Genes/genes.gtf"
            star = "s3://ngi-igenomes/igenomes/Mus_musculus/Ensembl/GRCm38/Sequence/STARIndex/"
            gprofiler = "mmusculus"
            ensembl_web = "www.ensembl.org"
            rRNA_gtf = "${baseDir}/assets/rRNA_gtf/GRCm38.gtf"
        }
        "Rattus_norvegicus(mRatBN7.2)" {
            bed12 = "s3://aladdin-genomes/Rattus_norvegicus/Ensembl/mRatBN7.2/Annotation/Genes/genes.bed"
            gtf = "s3://aladdin-genomes/Rattus_norvegicus/Ensembl/mRatBN7.2/Annotation/Genes/genes.gtf"
            star = "s3://aladdin-genomes/Rattus_norvegicus/Ensembl/mRatBN7.2/Sequence/STARIndex/"
            gprofiler = "rnorvegicus"
            ensembl_web = "www.ensembl.org"
            rRNA_gtf = "${baseDir}/assets/rRNA_gtf/mRatBN7.2.gtf"
        }
        "Rattus_norvegicus(Rnor_6.0)" {
            bed12 = "s3://ngi-igenomes/igenomes/Rattus_norvegicus/Ensembl/Rnor_6.0/Annotation/Genes/genes.bed"
            gtf = "s3://ngi-igenomes/igenomes/Rattus_norvegicus/Ensembl/Rnor_6.0/Annotation/Genes/genes.gtf"
            star = "s3://ngi-igenomes/igenomes/Rattus_norvegicus/Ensembl/Rnor_6.0/Sequence/STARIndex/"
            gprofiler = "rnorvegicus"
            ensembl_web = "www.ensembl.org"
            rRNA_gtf = "${baseDir}/assets/rRNA_gtf/Rnor_6.0.gtf"
        }
        "Bos_taurus(ARS-UCD1.2)" {
            bed12 = "s3://aladdin-genomes/Bos_Taurus/Ensembl/ARS-UCD1.2/Annotation/Genes/genes.bed"
            gtf = "s3://aladdin-genomes/Bos_Taurus/Ensembl/ARS-UCD1.2/Annotation/Genes/genes.gtf"
            star = "s3://aladdin-genomes/Bos_Taurus/Ensembl/ARS-UCD1.2/Sequence/STARIndex/"
            gprofiler = "btaurus"
            ensembl_web = "www.ensembl.org"
            rRNA_gtf = "${baseDir}/assets/rRNA_gtf/ARS-UCD1.2.gtf"
        }
        "Gallus_gallus(GRCg6a)" {
            bed12 = "s3://aladdin-genomes/Gallus_gallus/Ensembl/GRCg6a/Annotation/Genes/genes.bed"
            gtf = "s3://aladdin-genomes/Gallus_gallus/Ensembl/GRCg6a/Annotation/Genes/genes.gtf"
            star = "s3://aladdin-genomes/Gallus_gallus/Ensembl/GRCg6a/Sequence/STARIndex/"
            gprofiler = "ggallus"
            ensembl_web = "www.ensembl.org"
            rRNA_gtf = "${baseDir}/assets/rRNA_gtf/GRCg6a.gtf"
        }
        "Danio_rerio(GRCz11)" {
            bed12 = "s3://aladdin-genomes/Danio_rerio/Ensembl/GRCz11/Annotation/Genes/genes.bed"
            gtf = "s3://aladdin-genomes/Danio_rerio/Ensembl/GRCz11/Annotation/Genes/genes.gtf"
            star = "s3://aladdin-genomes/Danio_rerio/Ensembl/GRCz11/Sequence/STARIndex/"
            gprofiler = "drerio"
            ensembl_web = "www.ensembl.org"
            rRNA_gtf = "${baseDir}/assets/rRNA_gtf/GRCz11.gtf"
        }
        "Saccharomyces_cerevisiae(R64-1-1)" {
            bed12 = "s3://ngi-igenomes/igenomes/Saccharomyces_cerevisiae/Ensembl/R64-1-1/Annotation/Genes/genes.bed"
            gtf = "s3://ngi-igenomes/igenomes/Saccharomyces_cerevisiae/Ensembl/R64-1-1/Annotation/Genes/genes.gtf"
            star = "s3://ngi-igenomes/igenomes/Saccharomyces_cerevisiae/Ensembl/R64-1-1/Sequence/STARIndex/"
            gprofiler = "scerevisiae"
            ensembl_web = "www.ensembl.org"
        }
        "Solanum_lycopersicum(SL3.0)" {
            bed12 = "s3://aladdin-genomes/Solanum_lycopersicum/Ensembl/SL3.0/Annotation/Genes/genes.bed"
            gtf = "s3://aladdin-genomes/Solanum_lycopersicum/Ensembl/SL3.0/Annotation/Genes/genes.gtf"
            star = "s3://aladdin-genomes/Solanum_lycopersicum/Ensembl/SL3.0/Sequence/STARIndex/"
            gprofiler = "slycopersicum"
            ensembl_web = "plants.ensembl.org"
        }
        "Zea_mays(B73_RefGen_v4)" {
            bed12 = "s3://aladdin-genomes/Zea_mays/Ensembl/B73_RefGen_v4/Annotation/Genes/genes.bed"
            gtf = "s3://aladdin-genomes/Zea_mays/Ensembl/B73_RefGen_v4/Annotation/Genes/genes.gtf"
            star = "s3://aladdin-genomes/Zea_mays/Ensembl/B73_RefGen_v4/Sequence/STARIndex/"
            gprofiler = "zmays"
            ensembl_web = "plants.ensembl.org"
        }
        "Chlamydomonas_reinhardtii(v5.5)" {
            bed12 = "s3://aladdin-genomes/Chlamydomonas_reinhardtii/Ensembl/v5.5/Annotation/Genes/genes.bed"
            gtf = "s3://aladdin-genomes/Chlamydomonas_reinhardtii/Ensembl/v5.5/Annotation/Genes/genes.gtf"
            star = "s3://aladdin-genomes/Chlamydomonas_reinhardtii/Ensembl/v5.5/Sequence/STARIndex/"
            gprofiler = "creinhardtii"
            ensembl_web = "plants.ensembl.org"
        }
        "Arabidopsis_thaliana(TAIR10)" {
            bed12 = "s3://ngi-igenomes/igenomes/Arabidopsis_thaliana/Ensembl/TAIR10/Annotation/Genes/genes.bed"
            gtf = "s3://ngi-igenomes/igenomes/Arabidopsis_thaliana/Ensembl/TAIR10/Annotation/Genes/genes.gtf"
            star = "s3://ngi-igenomes/igenomes/Arabidopsis_thaliana/Ensembl/TAIR10/Sequence/STARIndex/"
            gprofiler = "athaliana"
            ensembl_web = "plants.ensembl.org"
        }
        "Candida_albicans_SC5314(ASM18296v3)" {
            bed12 = "s3://aladdin-genomes/C_albicans/RefSeq/GCF_000182965.3_ASM18296v3/Annotation/Genes/genes.bed"
            gtf = "s3://aladdin-genomes/C_albicans/RefSeq/GCF_000182965.3_ASM18296v3/Annotation/Genes/genes_withbiotype.gtf"
            star = "s3://aladdin-genomes/C_albicans/RefSeq/GCF_000182965.3_ASM18296v3/Sequence/STARIndex/"
        }
        "ERCC92" {
            star = "s3://aladdin-genomes/ERCC_spike-in/Thermofisher/ERCC92/Sequence/STARIndex/"
            gtf = "s3://aladdin-genomes/ERCC_spike-in/Thermofisher/ERCC92/Annotation/Genes/genes.gtf"
            bed12 = "s3://aladdin-genomes/ERCC_spike-in/Thermofisher/ERCC92/Annotation/Genes/genes.bed"
        }
    }
}