/*
 * ---------------------------------------------------
 *  Nextflow config file for library prep protocols
 * ---------------------------------------------------
 */

params {
    protocols {
        "Zymo_RiboFree_PROTv1" {
            description = "Zymo-Seq RiboFree Total RNA Library Kit, instruction manual v1.3.0"
            clip_r1 = 0
            clip_r2 = 10
            three_prime_clip_r1 = 0
            three_prime_clip_r2 = 0
            adapter = "NNNNNNNNNNAGATCGGAAGAGCACACGTCTGAACTCCAGTCAC"
            adapter2 = "AGATCGGAAGAGCGTCGTGTAGGGAAAGA"
            strandedness = 2
            strandedness_text = "Reverse"
            trimming_text = "5'R2: 10bp / adapter1: NNNNNNNNNNAGATCGGAAGAGCACACGTCTGAACTCCAGTCAC / adapter2: AGATCGGAAGAGCGTCGTGTAGGGAAAGA"
        }
        "Zymo_RiboFree_PROTv2" {
            description = "Zymo-Seq RiboFree Total RNA Library Kit, instruction manual v2.0.0"
            clip_r1 = 0
            clip_r2 = 0
            three_prime_clip_r1 = 0
            three_prime_clip_r2 = 0
            adapter = "AGATCGGAAGAGCACACGTCTGAACTCCAGTCAC"
            adapter2 = "AGATCGGAAGAGCGTCGTGTAGGGAAAGA"
            strandedness = 2
            strandedness_text = "Reverse"
            trimming_text = "adapter1: AGATCGGAAGAGCACACGTCTGAACTCCAGTCAC / adapter2: AGATCGGAAGAGCGTCGTGTAGGGAAAGA"
        }
        "Zymo_SwitchFree_PROTv1" {
            description = "Zymo-Seq SwitchFree 3′ mRNA Library Kit, instruction manual v1.1.1"
            clip_r1 = 0
            clip_r2 = 0
            three_prime_clip_r1 = 0
            three_prime_clip_r2 = 0
            adapter = "AAAAAAAABBBBBBNNNNNNNNAGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT"
            strandedness = 1
            strandedness_text = "Forward"
            trimming_text = "adapter1: AAAAAAAABBBBBBNNNNNNNNAGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT"
        }
        "Illumina" {
            description = "Illumina TruSeq RNA Library Prep Kit"
            clip_r1 = 0
            clip_r2 = 0
            three_prime_clip_r1 = 0
            three_prime_clip_r2 = 0
            adapter = false
            adapter2 = false
            strandedness = 0
            strandedness_text = "None"
            trimming_text = "only using Illumina adapters"
        }
        "illumina_stranded" {
            description = "Illumina TruSeq Stranded RNA Library Prep Kit"
            clip_r1 = 0
            clip_r2 = 0
            three_prime_clip_r1 = 0
            three_prime_clip_r2 = 0
            adapter = false
            adapter2 = false
            strandedness = 2
            strandedness_text = "Reverse"
            trimming_text = "only using Illumina adapters"
        }
    }
}